COMMUTE_EMAIL='you@example.com'
COMMUTE_PASSWORD='your-password'
COMMUTE_NOTIFICATION_EMAIL='you@example.com'
COMMUTE_NOTIFICATION_FROM='notifications@example.com'
COMMUTE_NOTIFICATION_FROM_NAME='Commute Trip Recording'
ZEPTOMAIL_GCLOUD_PROJECT='your-google-cloud-project'
ZEPTOMAIL_SECRET_NAME='your-zeptomail-secret-name'
